manifest {
    homePage = 'https://github.com/iarcbioinfo/mutect-nf'
    description = 'Parallelize nutect pipeline with nextflow'
    mainScript = 'mutect.nf'
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" 
       	  conda.createTimeout = "200 min" }
}

params.output_folder="."

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/mutect-nf_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/mutect-nf_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/mutect-nf_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/mutect-nf_dag.html"
}
