manifest {
    homePage = 'https://github.com/iarcbioinfo/mutect-nf'
    description = 'Parallel mutect pipeline with nextflow'
    mainScript = 'mutect.nf'
}

profiles {
  conda { 
	process.conda = "$baseDir/environment.yml" 
       	conda.createTimeout = "200 min" 
	}
  conda_gatk3 {
        process.conda = "$baseDir/environment_gatk3.yml"
        conda.createTimeout = "200 min"
        }
  conda_gatk2 {
        process.conda = "$baseDir/environment_gatk2.yml"
        conda.createTimeout = "200 min"
        }
  docker {
    docker.enabled = true 
    process.container = 'nalcala/mutect-nf:v2.0'
  	}
  docker_gatk3 {
    docker.enabled = true
    process.container = 'nalcala/mutect-nf:v2.1_gatk3'
        }
  docker_gatk2 {
    docker.enabled = true
    process.container = 'nalcala/mutect-nf:v2.1_gatk2'
        }
  singularity {
    singularity.enabled = true 
    process.container = 'shub://nalcala/mutect-nf:v2.1'
    pullTimeout = "200 min"
  }
  singularity_gatk3 {
    singularity.enabled = true
    process.container = 'shub://nalcala/mutect-nf:v2.1_gatk3'
    pullTimeout = "200 min"
  }
  singularity_gatk2 {
    singularity.enabled = true
    process.container = 'shub://nalcala/mutect-nf:v2.1_gatk2'
    pullTimeout = "200 min"
  }
}

params.output_folder="."

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/mutect-nf_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/mutect-nf_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/mutect-nf_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/mutect-nf_dag.html"
}
